.date-range-container {
    position: relative;
    width: 280px;
}

.calendar-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.date-range-popup {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Default positions */
.anchor-bottom {
    top: 110%;
    left: 0;
}

.anchor-top {
    bottom: 110%;
    left: 0;
}

.anchor-left {
    right: 110%;
    top: 0;
}

.anchor-right {
    left: 110%;
    top: 0;
}

/* Prevent overflow */
@media (max-width: 600px) {
    .date-range-popup {
        left: 0 !important;
        right: 0 !important;
    }
}

.calendar-separator {
    min-height: 100%;
    width: 1px;
    background-color: #ddd;
}

.navigation-icon-left {
    all: unset;
    position: absolute;
    top: 16px;
    left: 16px;
}

.navigation-icon-right {
    all: unset;
    position: absolute;
    top: 16px;
    right: 16px;
}

.navigation {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation:hover {
    background: #ddd;
}