.date-range-container {
    position: relative;
    width: 280px;
}

.date-range-input {
    display: flex;
    padding: 4px 10px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
    height: 100%;

    button {
        all: unset;
        width: 90%;
    }

    .close-icon {
        margin: 0 4px;
        border: none;
        width: 40px;
        height: 35px;
        cursor: pointer;
        background-color: transparent;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .separator {
        width: 1px;
        max-height: 50px;
        height: 100vh;
        background: #ddd;
    }

    .close-icon:hover {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 100%;
    }
}

.date-range-input:hover,
.date-range-input:focus {
    border-color: #007bff;
    outline: none;
}

.calendar-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.date-range-popup {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Default positions */
.anchor-bottom {
    top: 110%;
    left: 0;
}

.anchor-top {
    bottom: 110%;
    left: 0;
}

.anchor-left {
    right: 110%;
    top: 0;
}

.anchor-right {
    left: 110%;
    top: 0;
}

/* Prevent overflow */
@media (max-width: 600px) {
    .date-range-popup {
        left: 0 !important;
        right: 0 !important;
    }
}

.calendar-separator {
    min-height: 100%;
    width: 1px;
    background-color: #ddd;
}

.navigation-icon-left {
    all: unset;
    position: absolute;
    top: 16px;
    left: 16px;
}

.navigation-icon-right {
    all: unset;
    position: absolute;
    top: 16px;
    right: 16px;
}

.navigation {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation:hover {
    background: #ddd;
}